{{>head}}
{{>navbar}}
<div class="row">
    <div class="col-8">
        <h1>DC COMIC</h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, provident alias. Dicta eligendi labore fugit dignissimos voluptas repudiandae totam rem, veniam alias illo amet sunt iste accusamus consequatur quos? Reiciendis?

    </div>
   <div class="col-4" style="padding-top:20px;">
    <img src="assets/img/dc.png" class="img-thumbnail" width="240px">
   </div>
</div>

{{>footer}}